<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Template</title>
</head>
<body>

    <!-- Main Footer -->
    <footer th:fragment="copy" class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs" th:text="#{Platform.Title}"></div>
        <!-- Default to the left -->
        <strong><a th:href="@{https://www.centyun.com}"
            th:text="#{Platform.Name}">CentYun</a></strong> [[#{Copy.Right}]]
    </footer>
    
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:fragment="main-sidebar" class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li th:class="${product.active}? 'treeview active' : 'treeview'"  th:each="product : ${products}">
          <a href="#"><i class="fa" th:classappend="${product.icon}"></i>
            <span th:text="${session.cty_user.language == null || session.cty_user.language == 'zh_CN' ? product.name : product.englishName}">title</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li th:class="${module.active}? 'active'" th:each="module : ${product.modules}">
                <a th:href="${module.url}"><i class="fa" th:classappend="${module.icon}"></i><span th:text="${session.cty_user.language == null || session.cty_user.language == 'zh_CN' ? module.name : module.englishName}">title</span></a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <header th:fragment="main-header" class="main-header">
    <a th:href="@{/index.html}" class="logo">
      <span class="logo-mini"><b th:text="#{Platform.shortName}">CTY</b></span>
      <span class="logo-lg"><b th:text="#{Platform.Name}">Cent</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Notifications Menu -->
          <li class="tasks-menu">
            <a th:href="@{${consoleUrl}}" class="dropdown-toggle">
              <i class="fa fa-tv"></i>
            </a>
          </li>
          <li class="tasks-menu" th:each="product : ${products}">
            <a th:href="${product.releaseUrl}" class="dropdown-toggle">
              <i class="fa " th:classappend="${product.icon}"></i>
            </a>
          </li>
          
          <!-- Product Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img th:src="@{/lib/adminlte/img/user2-160x160.jpg}" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">[[${session.cty_user.displayName}]]</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img th:src="@{/lib/adminlte/img/user2-160x160.jpg}" class="img-circle" alt="User Image">

                <p>
                  [[${session.cty_user.displayName}]]
                  <small>[[#{Registe.Time}]] : [[${#dates.format(session.cty_user.createTime, 'yyyy-MM-dd HH:mm:ss')}]]</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-primary btn-flat" th:text="#{Profile}">Profile</a>
                </div>
                <div class="pull-right">
                  <a th:href="@{${consoleUrl} + 'logout'}" class="btn btn-primary btn-flat" th:text="#{Sign.Out}">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  
</body>
</html>