<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.centyun.user.mapper.CountryRegionMapper">
    <resultMap id="CountryRegionResultMap" type="com.centyun.user.domain.CountryRegion">
        <id column="id" property="id"/>
        <result column="continent_id" property="continentId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="english_name" jdbcType="VARCHAR" property="englishName"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="pinyin" jdbcType="VARCHAR" property="pinyin"/>
        <result column="pinyin_short" jdbcType="VARCHAR" property="pinyinShort"/>
        <result column="order_no" jdbcType="INTEGER" property="orderNo"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" property="createTime"/>
        <result column="editor" jdbcType="VARCHAR" property="editor"/>
        <result column="edit_time" jdbcType="TIMESTAMP" javaType="java.util.Date" property="editTime"/>
        <result column="continent_name" jdbcType="VARCHAR" property="continentName"/>
        <result column="creator_name" jdbcType="VARCHAR" property="creatorName"/>
        <result column="editor_name" jdbcType="VARCHAR" property="editorName"/>
    </resultMap>

    <select id="listCountryRegions" resultMap="CountryRegionResultMap">
        select a.*, m1.display_name creator_name, m2.display_name editor_name from us_country_region a
        left join us_administrator m1 on a.creator=m1.id left join us_administrator m2 on a.editor=m2.id
        <if test="continentId != null">where continent_id = #{continentId}</if>
        order by order_no
    </select>
    
    <select id="listPageCountryRegions" resultMap="CountryRegionResultMap">
        select a.*, t.name continent_name, m1.display_name creator_name, m2.display_name editor_name
        from us_country_region a left join us_continent t on a.continent_id=t.id
        left join us_administrator m1 on a.creator=m1.id left join us_administrator m2 on a.editor=m2.id
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="searchValue != null">
                ( a.name like concat('%', #{searchValue}, '%')
                or a.english_name like concat('%', #{searchValue}, '%')
                or a.pinyin like concat('%', #{searchValue}, '%')
                or a.pinyin_short like concat('%', #{searchValue}, '%') )
            </if>
            <if test="continentId != null">and a.continent_id=#{continentId}</if>
        </trim>
        <if test="orders != null">
            order by
            <foreach collection="orders" item="order" separator=",">CONVERT(${order.key} USING gbk) ${order.value}</foreach>
        </if>
    </select>

    <select id="getCountryRegionById" resultMap="CountryRegionResultMap">
        select a.*, t.name continent_name, m1.display_name creator_name, m2.display_name editor_name
        from us_country_region a left join us_continent t on a.continent_id=t.id
        left join us_administrator m1 on a.creator=m1.id left join us_administrator m2 on a.editor=m2.id
        where a.id = #{id}
    </select>
    
    <insert id="addCountryRegion">
        insert into us_country_region (id, continent_id, name, english_name, code, pinyin, pinyin_short, order_no, creator, create_time)
        values(#{id}, #{continentId}, #{name}, #{englishName}, #{code}, #{pinyin}, #{pinyinShort}, 9999, #{creator}, now())
    </insert>

    <update id="updateCountryRegion">
        update us_country_region set continent_id=#{continentId}, name=#{name}, english_name=#{englishName}, code=#{code}, pinyin=#{pinyin}, pinyin_short=#{pinyinShort}
        , editor=#{editor}, edit_time=now()
        where id=#{id}
    </update>
    
    <select id="getCountryRegionByName" parameterType="com.centyun.user.domain.CountryRegion" resultType="int">
        select count(*) from us_country_region where name = #{name}
        <if test="id != null">
            and <![CDATA[ id <> #{id} ]]>
        </if>
    </select>
</mapper>
