<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title th:text="#{Platform.Title}">CentYun Login</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" th:href="@{lib/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/lib/font-awesome/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{/lib/Ionicons/css/ionicons.min.css}">
  <link rel="stylesheet" th:href="@{/lib/adminlte/css/adminlte.min.css}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html" th:text="#{Platform.Name}">CentYun</a>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg" th:text="#{home.welcome}">Sign in</p>
    
    <div class="text-right" style="margin-bottom: 5px">
      <span value="zh_CN" onclick="changeLang(this);">中文</span> / <span value="en_US" onclick="changeLang(this);">English</span>
    </div>

    <form id="loginForm" th:if="${account} == null">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" id="user" name="user" th:attr="placeholder=#{Login.User}" placeholder="User">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" id="password" class="form-control" th:attr="placeholder=#{Login.Password}" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row form-group">
        <div class="col-xs-7">
          <input type="text" id="captcha" class="form-control" th:attr="placeholder=#{Login.Captcha}" placeholder="Captcha">
        </div>
        <div class="col-xs-5">
          <img th:src="@{/captcha-image}" style="height:34px;" id="captchaImage" onclick="changeCaptchaImage();">
        </div>
      </div>
      
      <div class="form-group">
          <div id="errMsg" style="color: red;">
			<span th:if="${session.SPRING_SECURITY_LAST_EXCEPTION} != null">
			    <p th:text="#{${session.SPRING_SECURITY_LAST_EXCEPTION.message}}">Error</p>
			</span>
          </div>
      </div>
          
      <div class="form-group has-feedback">
          <button type="button" onclick="loginPost();" onkeypress="loginPost();" class="btn btn-primary btn-block btn-flat" th:text="#{Login.Login}">Sign In</button>
      </div>
    </form>
    
    <form id="loginForm" th:if="${user} != null">
      <input type="hidden" class="form-control" id="user" th:value="${user}">
      <input type="hidden" id="sessionKey" th:value="${sessionKey}">
    </form>

      <div class="row">
        <div class="col-xs-8">
          <a href="#" th:text="#{Login.ForgotPassword}">Forgot Password</a><br>
        </div>
        <div class="col-xs-4 text-right">
          <a href="register.html" th:text="#{Login.Register}">Register</a>
        </div>
      </div>
  </div>
</div>

<script th:src="@{/lib/jquery.min.js}"></script>
<script th:src="@{/lib/js.cookie.min.js}"></script>
<script th:src="@{/js/lang.js}"></script>
<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/sha256.min.js}"></script>
<script src="//pv.sohu.com/cityjson?ie=utf-8"></script>
<script type="text/javascript">
var ip = returnCitySN["cip"];

function changeLang(obj){
    var lang = $(obj).attr('value');
	$.ajax({
		url : '/change-lang',
		type : 'POST',
		dataType : 'json',
		data : {lang : lang},
		success : function(data){
			setLanguage(lang);
			window.location.reload();
		},
		error : function(data){
			console.log("change language error.");
		}
	});
}

function changeCaptchaImage() {
	$("#captchaImage").attr('src', "/captcha-image?t="+new Date());
}

$(function() {
	$('#user').focus();
	$('body').eq(0).bind('keypress', function(event) {
		if (event.keyCode ==  13) {
			loginPost();
		}
	});
	
	var sessionKey = $('#sessionKey').val();
	var user = $('#user').val();
	if(sessionKey && user) {
		$.ajax({
			url : '/login/form',
			type : 'post',
			dataType : 'json',
			data : {'ip' : ip, 'username' : user, 'password' : sessionKey},
			success : function(data) {
				if (data.code == 200) {
					window.location.href = data.url;
				} else {
					$('#captcha').val("");
					changeCaptchaImage();
					$('#errMsg').html(data.msg);
				}
			},
			error : function(data) {
				console.log(data);
				$('#captcha').val("");
				changeCaptchaImage();
				$('#errMsg').text(getI18n('loginError'));
			}
		});
	}
});

function loginPost() {
	if (checkLogin()) {
		var pwd = $('#password').val();
		pwd = sha256(pwd);
		console.log("pwd:" + pwd);
		$.ajax({
			url : '/login/form',
			type : 'post',
			dataType : 'json',
			data : {'ip' : ip, 'username' : $('#user').val(), 'password' : pwd, 'j_captcha' : $('#captcha').val()},
			success : function(data) {
				if (data.code == 200) {
					window.location.href = data.url;
				} else {
					$('#captcha').val("");
					changeCaptchaImage();
					$('#errMsg').html(data.msg);
				}
			},
			error : function(data) {
				console.log(data);
				$('#captcha').val("");
				changeCaptchaImage();
				$('#errMsg').text(getI18n('loginError'));
			}
		});
	}
}

function checkLogin() {
	console.log(getI18n('userCantEmpty'));
	var username = $('#user').val();
	if (null == username || '' == username) {
		$('#errMsg').html(getI18n('userCantEmpty'));
		return false;
	}
	
	var password = $('#password').val();
	if (null == password || '' == password) {
		$('#errMsg').html(getI18n('passwordCantEmpty'));
		return false;
	}
	
	var captcha = $('#captcha').val();
	if (null == captcha || '' == captcha) {
		$('#errMsg').html(i18njs.password);
		return false;
	}
	return true;
}
</script>
</body>
</html>
