<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.centyun.cms.mapper.SiteAttributeMapper">
	<resultMap id="SiteAttributeResultMap" type="com.centyun.cms.domain.SiteAttribute">
		<id column="site_id" jdbcType="VARCHAR" property="siteId"/>
        <result column="tenant_id" jdbcType="VARCHAR" javaType="string" property="tenantId"/>
		<result column="logo" jdbcType="VARCHAR" property="logo"/>
		<result column="logo_width" jdbcType="VARCHAR" property="logoWidth"/>
		<result column="logo_height" jdbcType="VARCHAR" property="logoHeight"/>
        <result column="pc_banner" jdbcType="VARCHAR" property="pcBanner"/>
        <result column="mobile_banner" jdbcType="VARCHAR" property="mobileBanner"/>
        <result column="background" jdbcType="VARCHAR" property="background"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="qq" jdbcType="VARCHAR" property="qq"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="web_qrcode" jdbcType="VARCHAR" property="webQrcode"/>
        <result column="wxmp_qrcode" jdbcType="VARCHAR" property="wxmpQrcode"/>
        <result column="copyright" jdbcType="VARCHAR" property="copyright"/>
        <result column="icp" jdbcType="VARCHAR" property="icp"/>
        <result column="seo_title" jdbcType="VARCHAR" property="seoTitle"/>
        <result column="seo_keyword" jdbcType="VARCHAR" property="seoKeyword"/>
        <result column="seo_description" jdbcType="VARCHAR" property="seoDescription"/>
        <result column="trace_code" jdbcType="VARCHAR" property="traceCode"/>
        <result column="editor" jdbcType="VARCHAR" javaType="string" property="editor"/>
        <result column="editor_name" jdbcType="VARCHAR" property="editorName"/>
        <result column="edit_time" jdbcType="TIMESTAMP" javaType="java.util.Date" property="editTime"/>
	</resultMap>
    
	<insert id="addSiteConfig">
	    insert into cm_site_attribue (site_id, tenant_id, logo, logo_width, logo_height, pc_banner, mobile_banner, background, phone, qq, email,
            web_qrcode, wxmp_qrcode, copyright, icp, seo_title, seo_keyword, seo_description, trace_code, editor, editor_name, edit_time)
	    values(#{siteId}, #{tenantId}, #{logo}, #{logoWidth}, #{logoHeight}, #{pcBanner}, #{mobileBanner}, #{background}, #{phone}, #{qq}, #{email},
            #{webQrcode}, #{wxmpQrcode}, #{copyright}, #{icp}, #{seoTitle}, #{seoKeyword}, #{seoDescription}, #{traceCode}, #{editor}, #{editorName}, now())
	</insert>

    <update id="updateSiteConfig">
        update cm_site_attribue set logo=#{logo}, logo_width=#{logoWidth}, logo_height=#{logoHeight}, pc_banner=#{pcBanner}, mobile_banner=#{mobileBanner},
        background=#{background}, phone=#{phone}, qq=#{qq}, email=#{email}, web_qrcode=#{webQrcode}, wxmp_qrcode=#{wxmpQrcode}, copyright=#{copyright},
        icp=#{icp}, seo_title=#{seoTitle}, seo_keyword=#{seoKeyword}, seo_description=#{seoDescription}, trace_code=#{traceCode}, 
        editor=#{editor}, editor_name=#{editorName}, edit_time=now()
        where site_id=#{siteId} and tenant_id=#{tenantId}
    </update>

    <select id="getSiteConfig" resultMap="SiteAttributeResultMap">
        select * from cm_site_attribue where site_id=#{siteId} and tenant_id=#{tenantId}
    </select>
</mapper>