<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title th:text="#{Platform.Title}">CentYun</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/lib/font-awesome/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{/lib/Ionicons/css/ionicons.min.css}">
  <link rel="stylesheet" th:href="@{/lib/adminlte/css/adminlte.min.css}">
  <link rel="stylesheet" th:href="@{/lib/adminlte/css/skins/skin-blue.min.css}">
  <link rel="stylesheet" th:href="@{/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}">
  <link rel="stylesheet" th:href="@{/css/base.css}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header th:replace="footer :: main-header"></header>
  
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="footer :: main-sidebar"></aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content container-fluid">
    
          <!-- Horizontal Form -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title" th:text="#{product.add}">添加产品</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="col-sm-3 control-label"><span th:text="#{product.name}">Name</span> <span class="required">*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" th:placeholder="#{product.name}">
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="col-sm-3 control-label"><span th:text="#{product.englishName}">English Name</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="englishName" th:placeholder="#{product.englishName}">
                  </div>
                </div>
              </div>
          <!-- /.row -->
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="col-sm-3 control-label"><span th:text="#{product.code}">Code</span> <span class="required">*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="code" th:placeholder="#{product.code}">
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="col-sm-3 control-label"><span th:text="#{product.icon}">Icon</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="icon" th:placeholder="#{product.icon}">
                  </div>
                </div>
              </div>
          <!-- /.row -->
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="col-sm-3 control-label"><span th:text="#{product.version}">version</span> <span class="required">*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="version" th:placeholder="#{product.version}">
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="col-sm-3 control-label"><span th:text="#{product.productManager}">Product Manager</span> <span class="required">*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="productManager" th:placeholder="#{product.productManager}">
                  </div>
                </div>
              </div>
          <!-- /.row -->
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="col-sm-3 control-label"><span th:text="#{product.releaseUrl}">Publish Url</span> <span class="required">*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="releaseUrl" th:placeholder="#{product.releaseUrl}">
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="col-sm-3 control-label"><span th:text="#{product.releaseTime}">Publish Time</span> <span class="required">*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="releaseTime" th:placeholder="#{product.releaseTime}">
                  </div>
                </div>
              </div>
          <!-- /.row -->
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="col-sm-3 control-label" th:text="#{product.note}">note</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" rows="3" id="note" th:placeholder="#{product.note}"></textarea>
                  </div>
                </div>
              </div>
          <!-- /.row -->
              <div class="row">
			      <div class="form-group col-md-6">
			          <div class="col-sm-offset-3 col-sm-9" id="errMsg" style="color: red;"></div>
			      </div>
              </div>
          <!-- /.row -->
              <div class="row">
                <div class="form-group col-md-6">
                  <div class="col-sm-offset-3 col-sm-9">
                    <button type="button" id="save" class="btn btn-primary" th:text="#{common.save}" onclick="saveProduct(0)">保存</button>
                    <button type="button" id="saveadd" class="btn btn-default tablebtn" th:text="#{common.saveadd}" onclick="saveProduct(1)">保存并继续添加</button>
                    <button type="button" class="btn btn-default tablebtn" th:text="#{common.return}" onclick="gotopage('/product');">返回</button>
                  </div>
                </div>
              </div>
          <!-- /.row -->
              </div>
              <!-- /.box-body -->
            </form>
          </div>
          <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <div th:replace="footer :: copy"></div>
</div>
<!-- ./wrapper -->

<script th:src="@{/lib/jquery.min.js}"></script>
<script th:src="@{/lib/js.cookie.min.js}"></script>
<script th:src="@{/js/lang.js}"></script>
<script type="text/javascript" th:src="@{/lib/sha256.min.js}"></script>
<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/lib/adminlte/js/adminlte.min.js}"></script>
<script th:src="@{/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/lib/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
<script th:src="@{/js/product/product.js}"></script>
<script type="text/javascript">
$(function () {
	$('#releaseTime').datetimepicker({
		autoclose: true,
		todayBtn: true,
		todayHighlight: true,
		//minuteStep: 1, // default is 5
		format: "yyyy-mm-dd hh:ii",  //"yyyy-mm-dd hh:ii:ss"
		language: "zh-CN"
	})
});
</script>
</body>
</html>